* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 20px 30px;
}

.tool-bar {
    width: 50%;
}

.tool-bar ul {
    display: flex;
    justify-content: space-around;
}

.tool-bar ul li {
    list-style: none;
}

.tool-bar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}

.tool-bar ul li a:hover {
    background-color: darkcyan;
    color: white;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    height: 400px;
    position: relative;
}

/* gallery css */
