.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 10px;  
}
.d-flex{
    display: flex;
     justify-content: center;
    align-items: center;
}


img,p{
    padding: 10px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 10px; 
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 10px;  
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 10px;  
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 10px;  
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 10px;  
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

img,p{
    padding: 20px;  
}h1{
    font-size: 50px;
}
.JUDUL BESAR {
    font-size: 2.5rem;
}